body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
	border: 1px solid rgb(0 0 0 / 0.2);
	padding: 1rem;
	background-color: rgb(230 243 254 / 1);
	font-weight: 700;
	word-break: break-word;
	text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    
}

h2 {
	color: navy;
	text-align: center;
    grid-template-columns: 1fr  1fr;
}

article p {
	text-align: justify;
}

.callout {
	color: #fff;
	background-color: #3c0052;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
