@media screen and (min-width: 801px){}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    align-self: center;
    width: 60%;
}


h1 {
    text-align: center;
    margin: 10px 0;
    font-size: 2.5rem;
}


form {
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 60%;
}

body {
    align-items: center;
}


input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
    width: 80%;
}

.rating-row label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.rating-row input {
    margin-top: 5px;
}


.checkbox-section {
    flex-wrap: wrap;
    justify-content: center;

}

footer {
    margin-top: auto;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 60%;
    align-self: center;
}