

.responsive {
  width: 100%;     
  max-width: 100%;  
  height: auto;    
  display: block;
  padding-bottom: 0rem;
}

@media screen and (min-width: 801px) {
  .info-box {
    position: absolute;
  }
}

.info-left {
    top: 5%;
    left: 20px;
    display: inline-block;
    
}
.info-right {
    top: 65%;
    right: 20px;
    text-align: center;
}

.info-left h1 {
    margin-top: -5px;
    margin-left: -20px;
    background-color: var(--primary-color);
    max-width: 50%;
    padding: 0.2rem;
    box-shadow: 5px 5px 15px rgba(164, 223, 247, 0.5);
}

.info-right h2 {
    margin-top: -5px;
    margin-left: -20px;
    background-color: var(--primary-color);
    max-width: 50%;
    padding: 0.2rem;
    box-shadow: 5px 5px 15px rgba(164, 223, 247, 0.5);
    width: 300px;
    text-align: left;
}
.weather-icon {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
    vertical-align: middle;
}